fastapi
uvicorn[standard]
pydantic
python-multipart
requests
Pillow
pytesseract
psycopg[binary]
minio
torch
transformers
omegaconf
nptyping==1.4.2
numpy
opencv-python-headless==4.5.4.60
pytorch-lightning==1.5.10
six
tqdm
overrides==3.1.0
seqeval==1.2.2
imagesize
timm
tensorboard>=2.2.0
